*{
    margin: 0;
    padding: 0;
}

.nav{
    padding: 0 50px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between; /*раскидываем логотип и меню по разным краям*/
    align-items: center; /*размещаем по центру*/
}
.menu{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center; /*размещаем по центру меню*/

}
.logo{
    text-decoration: none;

    width: 204px;
    height: 53px;
    left: 80px;
    top: 29px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}
.link{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;
    color: #000000;

    text-decoration: none;
    margin: 10px;

}
.link:hover{
    color: rgb(114, 173, 240);
}

.img1{
    width: 100%;
    height: 812px;
    left: -2px;
    top: -148px;
}

h2 {
    margin-top: 267px;
    position: absolute;
    width: 399px;
    height: 89px;
    left: 520px;
    top: 266px;
}
h2 span {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.line {
    margin-top: 267px;
    position: absolute;
    width: 80px;
    height: 10px;
    left: 687px;
    top: 362px;

    background: #817070;
}

.story{

    background: white;
    width: 800px;
    display: flex;
    align-items: center; /*внутри блока по вертикали размещаем элементы по центру*/
}

.text{
    margin-left: 30px; /*отодвигаем текст от картинки*/
    align-self: center;
    align-items: center;
}

.img2{

    padding-left: 80px;
    width: 600px;
    height: 400px;
    left: 80px;
    top: 173px;
}

.description{
    width: 597px;
    height: 180px;
    left: 720px;
    top: 283px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.title_story{
    padding: 60px 674px;
    display: flex;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.blog{

    width: 1440px;
    height: 711px;
    left: 0;
    top: 1365px;

    background: #EFEFEF;
}

.contacts{
    width: 1440px;
    height: 337px;
    left: 0;
    top: 2076px;

    background: #817070;
}

.copyright{
    width: 1440px;
    height: 72px;
    left: 0;
    top: 2414px;

}

.footer_data{
    display: inline-block;
    padding: 29px 647px;

    width: 147px;
    height: 30px;
    left: calc(50% - 147px/2 + 0.5px);
    top: calc(50% - 30px/2 + 7px);

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.title_blog{
    padding: 60px 682px;
    display: flex;

    width: 76px;
    height: 53px;
    left: 682px;
    top: 60px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}


.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card_1 {
    background: #FFFFFF;
    width: 365px;

    height: 474px;
    left: 102px;
    top: 172px;
}

.card_2{
    width: 365px;
    height: 474px;
    left: 537px;
    top: 172px;

    background: #FFFFFF;
}

.card_3{
    width: 365px;
    height: 474px;
    left: 972px;
    top: 172px;

    background: #FFFFFF;
}

.card__image {
    width: 100%;
}

.card_img {
    padding-left: 20px;

    width: 325px;
    height: 216px;
    left: 20px;
    top: 80px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;

}

.card__title {
    padding: 20px 189px 24px 20px;
    white-space: nowrap;

    width: 156px;
    height: 36px;
    left: 20px;
    top: 20px;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.card__text {
    width: 325px;
    height: 108px;
    left: 20px;
    top: 320px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

.title_contact{
    padding: 60px 640px;
    display: flex;

    width: 161px;
    height: 53px;
    left: 640px;
    top: 60px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}