*{
    margin: 0;
    padding: 0;
}
.nav{
    padding: 0 50px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between; /*раскидываем логотип и меню по разным краям*/
    align-items: center; /*размещаем по центру*/
}
.menu{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center; /*размещаем по центру меню*/

}
.logo{
    text-decoration: none;

    width: 204px;
    height: 53px;
    left: 80px;
    top: 29px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}
.link{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;
    color: #000000;

    text-decoration: none;
    margin: 10px;

}
.link:hover{
    color: rgb(114, 173, 240);
}

.img1{
    width: 100%;
    height: 812px;
    left: -2px;
    top: -148px;
}

h2 {
    margin-top: 267px;
    position: absolute;
    width: 399px;
    height: 89px;
    left: 520px;
    top: 266px;
}
h2 span {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.line {
    margin-top: 267px;
    position: absolute;
    width: 80px;
    height: 10px;
    left: 687px;
    top: 362px;

    background: #817070;
}

.story{

    background: white;
    width: 800px;
    display: flex;
    align-items: center; /*внутри блока по вертикали размещаем элементы по центру*/
}

.text{
    margin-left: 30px; /*отодвигаем текст от картинки*/
    align-self: center;
    align-items: center;
}

.img2{

    padding-left: 80px;
    width: 600px;
    height: 400px;
    left: 80px;
    top: 173px;
}

.description{
    width: 597px;
    height: 180px;
    left: 720px;
    top: 283px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.title_story{
    padding: 60px 674px;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

